<form [formGroup]="gabForm" (ngSubmit)="onFormSubmit()">

    <div> <h2>Formulaire</h2></div>  
       <div class="row">
         <div class="texte1">
            <mat-form-field appearance="outline"> <mat-label>Désignation</mat-label>
                <input matInput type="text" placeholder="entrer la designation" formControlName="designation"  required />
             </mat-form-field>
           </div>
           <div class="texte2">
               <mat-form-field appearance="outline"> <mat-label>Fonction</mat-label>
                   <input matInput type="text"placeholder="entrer la fonction" formControlName="fonction"  required /> 
               </mat-form-field>
           </div>
           <div class="texte2">
            <mat-form-field appearance="outline"> <mat-label>Dimension</mat-label>
                <input matInput type="text"placeholder="entrer la dimension " formControlName="demension"  required /> 
            </mat-form-field>
        </div>
       </div>
       <div class="clearfix"></div>
       <div class="row">
           
          
          
       </div>
       <div class="clearfix"></div>
       <div class="row">
               <div class="texte1">
                   <mat-form-field appearance="outline"> <mat-label>Date début</mat-label>
                       <input matInput type="date" placeholder="entrer date de début  " formControlName="date_debut"  required />
                   </mat-form-field>
               </div>
               <div class="texte1">
                <mat-form-field appearance="outline"> <mat-label>Date de retour</mat-label>
                    <input matInput type="date" placeholder="entrer date de retour prevu  " formControlName="date_prevu_de_retour"  required />
                </mat-form-field>

            </div>
               <div class="row">
                <div  mat-dialog-actions class="action">
                    <button mat-raised-button type="submit" color="primary">{{data? 'update' : 'Enregistrer'}}</button>
                    <button mat-raised-button type="button" [mat-dialog-close]="false">Annuler</button>
                 </div>
                </div>
           </div>
        
               
            
   
          
   </form>
