<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
<mat-card style="width: 80%; height: 80%;">
  <mat-card-header>
    <mat-card-title class="custom-card-title">Email Templates</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div>
      <mat-form-field class="custom-input" appearance="outline">
        <mat-label>Objet du mail</mat-label>
        <input matInput type="text" [(ngModel)]="emailTemplate.subject" />
      </mat-form-field>
    </div>
  </mat-card-content>

  <mat-card-content>
    <h2>Contenu du mail</h2>
    <ckeditor
      [editor]="Editor"
      [(ngModel)]="emailTemplate.body"
    ></ckeditor>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="editEmailTemplate(emailTemplate.id)">
      Save Changes
    </button>
  </mat-card-actions>
</mat-card>
</div>
