.logo{
    text-align: center;
    padding: 2.6rem 1rem;
    .image {
        width: 260px;

    }
}
.mat-icon{
    vertical-align: center;
    margin-right: 1rem;
}

.mat-divider{
    border-top-width:2px;
    border-color:white;
}

.mat-list-item {
    color: #94a3b8 !important;
    font-size:0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
    border-radius: 5px;
    margin: 0 8px;
    &:hover{
        background: #2C442FFF !important;
    }
}

/* Remove the background color from the mat-expansion-panel */
.mat-expansion-panel {
  background-color: transparent;
}

