<mat-nav-list>
    <div class="logo py 4">
        <img src="../../assets/image/logo-ubci-new-charte-header.png" alt="Coompany Logo">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2"></h2>
    <a *ngIf="roles === 'ROLE_ADMIN'" mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Home</a>
    <a *ngIf="roles === 'ROLE_ADMIN'" mat-list-item routerLink="/Users" routerLinkActive="list-item-active">
        <mat-icon>supervised_user_circle</mat-icon> Utilisateurs</a>
    <a mat-list-item routerLink="/ajout-demande" routerLinkActive="list-item-active">
        <mat-icon>add</mat-icon> Ajout des demandes</a>
    <a mat-list-item routerLink="/gerer-demandes" routerLinkActive="list-item-active">
        <mat-icon>list</mat-icon> Gestion des demandes</a>
  <a *ngIf="roles === 'ROLE_ADMIN'" mat-list-item routerLink="/list-complaint-request" routerLinkActive="list-item-active">
    <mat-icon>add_alert</mat-icon> Gestion des demandes de plainte</a>
  <a *ngIf="roles === 'ROLE_ADMIN'" mat-list-item routerLink="/archive" routerLinkActive="list-item-active">
    <mat-icon>archive</mat-icon> Demandes archivées</a>
  <!-- Parent Menu: Email Template -->
  <!-- Accordion for Email Template -->
  <mat-accordion *ngIf="roles === 'ROLE_ADMIN'">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon>email</mat-icon> Email Template
      </mat-expansion-panel-header>

      <!-- Submenu for Email Template -->
      <mat-nav-list>
        <a mat-list-item routerLink="/email-templates/1" routerLinkActive="list-item-active">
          Email création demande
        </a>
        <a mat-list-item routerLink="/email-templates/2" routerLinkActive="list-item-active">
          Email refus demande
        </a>
        <a mat-list-item routerLink="/email-templates/3" routerLinkActive="list-item-active">
          Email envoie autre service
        </a>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>


</mat-nav-list>
